
.wboard {
    margin-top: 75px;
    background-color: white;
    color: #0E76A8;
  }
  .dashboard {
    margin-top: 75px;
    
  }
  .dTwin{
    text-align: center;
    color: #0E76A8;  
    /* flex-direction: column; */
  }
  .dIcon{
      background-color: #C8D7EB;
      padding-bottom: 200px;
  }
  .cbalance{
    padding-bottom: 50px;
  }
  /* h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: capitalize;
  } */

body{
    background-color: rgb(219, 219, 219);
    margin-top: 85px;
}

#cprogress{
    text-align: end;
}
hr{
    font-weight: 400;
}
#continue{
    margin-right: 50%;
}

.cash{
    color: #62B16F;
}